body{
  margin: 0;
  padding: 0;
  background : rgb(255, 255, 255);
  background-size: 100%;
}
.box{
  width: 595px;
  background: rgb(0, 0, 0);
  padding: 1px;
  text-align: justify;
  margin: auto;
  margin-top: 1%;
  color: rgb(60,136,50,255);
  font-family:monospace;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
  border-radius: 5%;
}
.box:hover
{
  width: 595px;
  background-color: rgba(250, 250, 250, 0.253);
  transition: background-color 1.5s;
  padding: 1px;
  text-align: justify;
  margin: auto;
  margin-top: 1%;
  color: rgb(60,136,50,255);
  font-family:monospace;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
  border-radius: 5%;
}
.box-img{
  display: block;
  border-radius: 75%;
  width: 250px;
  height: 300px;
  box-shadow: 5px 10px 40px rgba(0, 0, 0, 0.6);
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
}
.box-img:hover
{
  display: block;
  border-radius: 55%;
  width: 250px;
  height: 300px;
  box-shadow: 5px 10px 40px rgb(228, 121, 33);
  transition: box-shadow 1.5s;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
}
 h2
{
  color: rgb(233, 137, 13);
  text-align: center;
  font-size: 30px;
}
h1{
  font-size: 50px;
  width: 270px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 4px;
  font-weight: 180;
  text-align: center;
  align-items: center;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.527);
}
h1:hover
{
  font-size: 52px;
  letter-spacing: 4px;
  font-weight: 100;
  text-align: center;
  color: rgb(82, 57, 48);
  text-shadow: 5px 5px 5px rgba(134, 118, 105, 0.801);
}
h4{
  font-size: 22px;
  letter-spacing: 4px;
  font-weight: 100;
  text-align: center;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.527) ;

}
.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
  text-align: center;
}
.box h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box h4{
  text-align: center;
}
.box p{
  text-align: justify;
  font-size: 15px;
  margin-left: 20px;
}
.box p2{
text-align: justify;
font-size: 15px;
color: #ff0000;
}
.box p4{
  text-align: justify;
  font-size: 15px;
  color: rgb(0, 38, 255);
}
.box p6{
  text-align: center;
}
ul{
  margin: 0;
  padding: 0;
}
.box3 li{
  display: inline-block;
  margin-top: 50px;
  margin: 10px;
  list-style: none;
  box-shadow:10px 10px 10px rgba(0, 0, 0, 0.644);
  box-sizing: content-box;
  height: 75px;
  width: 90px;
}
.box3 li a{
  color: rgba(0, 0, 0, 0.486);
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.box3 li a:hover{
  color: #000000;
  font-size: 75px;
  padding-top: 10%;
}
.blinker { 
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1,0,0,1);
  animation-duration: 1s;
  cursor: text ;

  display: inline-block;
  width: 5px;
  height: 16px;
  margin-left: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(white,.3);
  background: #20ad04;

}

@keyframes blinker { 
  from { opacity: 1.0; } to { opacity: 0.0; }
}
.box3{
  width: 600px;
  background: rgba(255, 248, 248, 0.404);
  padding: 1px;
  text-align: center;
  margin: auto;
  margin-top: 1%;
  color: rgb(60,136,50,255);
  font-family:monospace;
  animation:ease-in;
  border-radius: 1%;
}





